<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/blog.css">
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <div class="logo"><img src="../static/assets/logo1.png" alt="logo"></div>
                <span class="line"></span>
                <ul class="nav-links">
                    <li><a href="#features">Home</a></li>
                    <li><a href="#features">About us</a></li>
                    <li><a href=".categories">Categories</a></li>
                    <li><a href="#testimonials">Blog</a></li>
                    <li><a href="#pricing">FAQ</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <span class="line"></span>
                <div class="user one"><div class="login"><a href="login.html">Log in</a></div>
                <div class="signup one"><a href="signup.html">Sign up</a></div></div>
            </nav>
        </div>
    </header>
    <section id="blog">
        <div class="show-blog">
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
            <div class="blogs"><div class="blog-dis"></div><div class="main-dis"></div></div>
        </div>
    </section>
</body>
</html>